/* To update CSS, clear cache or open the server in incognito */
/* static css files are automatically  stored in cache */


/*  CALENDAR CSS */
.calendar-box{
    height: 65%;
    width: 65%;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.calendar-left{
    display: inline-block;
    background-color: rgb(41, 41, 41);
}
.calendar-date{
    font-size: 28px;
    text-align: center;
}
.calendar-event{
    font-size: 22px;
    text-align: center;
}
.calendar-right{
    text-align: center;
}
.calendar-month{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.calendar-month .btn{
    font-size: 12px;
    margin: 1px;
}
.calendar-month .btn:hover{
    background-color: black;
    color: white;
}
.calendar-days{
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.calendar-day{
    padding-right: 35px;
}
.calendar-days .btn{
    text-align: center;
    font-size: 14px;
    width: 4em;
    margin-top: 10px;
}
.calendar-days .btn:hover{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
}

/* LOGIN FORM CSS */
.login-form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}