/* To update CSS, clear cache or open the server in incognito */
/* static css files are automatically  stored in cache */

html{
    overflow-x: hidden;
}
body{
    background-image: url(../img/bg.jpg);
    color: white;
}
.padding-top{
    padding-top: 100px;
}
footer{
    height: 50px;
}
.navbar{
    background-color: rgba(52, 58, 64, 0.267);
}
#block-content{
    min-height: 90%;
    opacity: 0;
}
.flash-message{
    padding-top: 50px;
}
/* LANDING PAGE CSS */
.landing{
    min-height: 100%;
    height: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/bg1.webp);
    background-attachment: fixed;
    color: white;
    background-size: cover;
}
#landing-headers, #landing-button{
    opacity: 0;
}
.landing-features{
    /*
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://images.unsplash.com/photo-1526045612212-70caf35c14df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
    background-attachment: fixed;
    */
    background: white;
    color: black;
    min-height: 110%;
    height: fit-content;
    flex-direction: column;
    text-align: center;
    background-size: cover;
    padding-bottom: 10%;
}
.landing-features .row{
    padding-top: 120px;
}
.landing-features img{
    height: 650px;
    width: 650px;
}
#contact-us{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/bg2.jpg);
    background-attachment: fixed;
    text-align: center;
}
#contact form {
    width: 70%;
    display: inline-block;
}
.fa{
    padding-bottom: 15px;
    font-size: 3em;
}
.fa:hover{
    font-size: 3.5em !important;
}
.fa-paper-plane-o{
    color: rgb(93, 93, 255);
    transition: ease 0.5s;
}
.fa-toggle-off{
    color: rgb(214, 0, 0);
    transition: ease 0.5s;
}
.fa-toggle-off:hover{
    color: rgb(0, 196, 0);
}
.fa-calendar{
    color: rgb(0, 0, 0);
    transition: ease 0.5s;
}
.fa-leaf{
    color: rgb(0, 196, 0);
    transition: ease 0.5s;
}
@media only screen and (max-width: 990px) {
    .landing-features h2, h5{
        text-align: center;
    }
    .landing_features{
        text-align: center;
    }
    .padding-bottom{
        padding-bottom: 100px;
    }
}
/* HOME PAGE CSS */
@media only screen and (min-width: 1000px) {
    .full_modal-dialog {
        width: 78% !important;
        height: 92% !important;
        min-width: 78% !important;
        min-height: 92% !important;
        max-width: 78% !important;
        max-height: 92% !important;
        padding: 0 !important;
    }
    .full_modal-content {
        height: 99% !important;
        min-height: 99% !important;
        max-height: 99% !important;
    }
}
@media only screen and (max-width: 990px) {
    .full_modal-dialog {
        width: 98% !important;
        height: 92% !important;
        min-width: 98% !important;
        min-height: 92% !important;
        max-width: 98% !important;
        max-height: 92% !important;
        padding: 0 !important;
    }
    .full_modal-content {
        height: 99% !important;
        min-height: 99% !important;
        max-height: 99% !important;
    }
    #scheduleModalBody td{
        margin: 1px;
        padding: 4px;
        width: 70px;
        border-radius: 5px;
    }
}
#scheduleModal .modal-body{
    overflow-x: auto;
}
#scheduleModalBody{
    height: 100%;
}
#scheduleModalBody table{
    border-collapse: separate;
    border-spacing: 5px;
}
#scheduleModalBody td{
    margin: 3px;
    padding: 8px;
    width: 105px;
    border-radius: 5px;
}

/* LOGIN CSS */
.login-page{
    height: 90%;
}
/* REGISTER CSS */
.register-page{
    height: 90%;
}
/*  CALENDAR CSS */
.calendar-box{
    height: 65%;
    width: 65%;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.calendar-left{
    display: inline-block;
    background-color: rgb(41, 41, 41);
}
.calendar-date{
    font-size: 28px;
    text-align: center;
}
.calendar-event{
    font-size: 22px;
    text-align: center;
}
.calendar-right{
    text-align: center;
}
.calendar-month{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.calendar-month .btn{
    font-size: 12px;
    margin: 1px;
}
.calendar-month .btn:hover{
    background-color: black;
    color: white;
}
.calendar-days{
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.calendar-day{
    padding-right: 35px;
}
.calendar-days .btn{
    text-align: center;
    font-size: 14px;
    width: 4em;
    margin-top: 10px;
}
.calendar-days .btn:hover{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
}

/* NAVBAR */

.nav-item a{
    color: white !important;
    transition: ease 0.5s;
}
.nav-item a:hover{
    font-size: 18px;
}
.center{
    display: flex;
    justify-content: center;
}
.navbar a{
    padding: 0px 6px;
}

/* CENTER FORM CSS */
.center-form{
    display: flex;
    justify-content: center;;
}

/* FRIENDS PAGE */
.add-form{
    padding: 80px 0px;
    text-align: center;
}
.add-form-content{
    margin: 0px 5px;
}
.add-form h4{
    margin: 5px;
}
.add-form input{
    margin: 5px;
}
.friends-page .user{
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    margin: 25px;
    color: black;
    transition: ease 0.3s;
}
.friends-page .user:hover{
    box-shadow: 5px 5px 20px white;
    cursor: pointer;
}
.friends-page .user img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.friends-page .free img{
    border: 5px solid rgb(48, 199, 48);
}
.friends-page .busy img{
    border: 5px solid rgb(243, 56, 39);
}
.friends-page h5{
    padding-top: 6px;
}
.friend-request{
    margin: 6px;
}
.friend-request .btn{
    margin: 6px 0px;
}

/* EVENT CSS */
.view-event{
    padding: 20px 0px;
    margin: auto;
}
.view-event-row{
    padding: 5px 20px;
}
.event-card{
    transition: ease 0.3s;
}
.event-card:hover{
    cursor: pointer;
    box-shadow: 5px 5px 20px;
}

/* CREATE SCHEDULE CSS */
#createSchedule{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}
@media only screen and (max-width: 600px) {
    #createSchedule{
        display: block;
        width: 100%;
    }
}
.schedule-time:hover{
    cursor: pointer;
}
.busy-time{
    background-color: red;
}
.available-time{
    background-color: green;
}
#schedule table{
    border-collapse: separate;
    border-spacing: 5px;
}

#schedule td{
    margin: 3px;
    padding: 8px;
    width: 105px;
    border-radius: 5px;
}