<html>

<head>
    <title>Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div class="friends-page">
        <div class="user free">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
            <h5>Test Name 1</h5>
            <p>Status: Available</p>
        </div>
        <div class="user busy">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
            <h5>Test Name 2</h5>
            <p>Status: Busy</p>
        </div>
        <div class="user busy">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
            <h5>Test Name 3</h5>
            <p>Status: Busy</p>
        </div>
        <div class="user free">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
            <h5>Test Name 4</h5>
            <p>Status: Available</p>
        </div>
        <div class="user busy">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
            <h5>Test Name 5</h5>
            <p>Status: Busy</p>
        </div>
    </div>
</body>

</html>