{% extends "base.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    

</head>

<div class="d-flex justify-content-center">
  <a class="btn btn-primary" href="{{ url_for('createEvent') }}">Create Event</a>
</div>
<body class = "bglight">
{% for event in events %}

  <div class="container">
    <div class="col row-md-9">
      <div class="card border-info mb-3" style="max-width: 22rem;">
        <div class="card-header"></div>
          <div class="card-body text-info">
            <h5 class="card-title">{{event}}</h5>
            <p class="card-text">
              <strong>Description:</strong> {{event.description}} </br>
              From: {{event.startTime}} To: {{event.endTime}}
            </p>
           </div>
        </div>
      </div>
    </div>
{% endfor %}
</body>



{% endblock %}