{% extends "base.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body class = "bglight">

  <div class="container">
    <div class="row col-md-9">
      <div class="card border-info mb-3" style="max-width: 26rem;">
        <div class="card-header"></div>
          <div class="card-body text-info">
            <h5 class="card-title"></h5>
            <p class="card-text">
              {% for i in value%}
              {{value[i]}}
              {% endfor %}

              <strong>Description:</strong>  </br>
              From:  To: 
            </p>
           </div>
        </div>
      </div>
    </div>

</body>


{% endblock %}