{% extends "base.html" %}

{% block content %}
    <div class="center-form">
        <form action="" method="post">
            <h1>Are you sure you want to delete this event?</h1>
            {{ form.hidden_tag() }}
            <div>
                Re-Enter event title to delete
                {{ form.title(class_="form-control") }}
            </div>
            <div>
                {{ form.submit(class_="btn btn-primary") }}
            </div>
        </form>  
    </div> 
{% endblock %}         