<html>

<head>
    {% if title %}
    <title>{{ title }} Connect365</title>
    {% else %}
    <title>Connect365</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="background-image: none;">
    <nav class="navbar navbar-expand-lg  navbar-dark fixed-top">
        <a class="navbar-brand" href="{{ url_for('landingPage') }}">Connect 365</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto d-flex align-items-start">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                </li>
                {% if not current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('createSchedule') }}">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('friends') }}">Friends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('viewEvent') }}">Events</a>
                </li>
                {% endif %}
            </ul>
            <div class="my-2 my-lg-0 d-flex align-items-end">
                <ul class="navbar-nav">
                    {% if current_user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div id="block-content">
        <div class="landing d-flex justify-content-center align-items-center">
            <div id="landing-headers">
                <h1>Easily connect with friends</h1>
                <h5>View their schedule and availability with ease</h5>
            </div>
            <br>
            <div id="landing-button">
                <a class="btn btn-outline-light" href="{{ url_for('index') }}">Get Started!</a>
            </div>
        </div>
        <div class="landing-features d-flex justify-content-center">
            <div class="row">
                <div class="col-lg-5 col-sm-12">
                    <img class="img-fluid" src="../static/img/phone.png" alt="">
                </div>
                <div class="col-lg-7 col-sm-12">
                    <div style="text-align: left;">
                        <h2>Never send another "When are you free?" message again</h2>
                        <h5>Determine a friend's availability with a few clicks</h5>
                    </div>
                    <div class="row landing_features">
                        <div class="col-md-5">
                            <i class="fa fa-paper-plane-o fa-3x"></i>
                            <h5>Don't waste time messaging your friend. Easily check on the go. Fast loading speeds and
                                easy
                                navigation.</h5>
                        </div>
                        <div class="col-md-5">
                            <i class="fa fa-toggle-off fa-3x"></i>
                            <h5>View your friend's status. Red is busy and green is active.</h5>
                        </div>
                    </div>
                    <div class="row padding-bottom landing_features">
                        <div class="col-md-5">
                            <i class="fa fa-calendar fa-3x"></i>
                            <h5>View your friend's calendar for the week. Find their gap times, and adapt.</h5>
                        </div>
                        <div class="col-md-5">
                            <i class="fa fa-leaf fa-3x"></i>
                            <h5>Flip over a new leaf and start using Connect 365 today!</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" d-flex justify-content-center align-items-center" id="contact-us"
            style="background-repeat: no-repeat; background-size: cover;">
            <div id="contact">
                <h1 class="h-center"><span class="underline">Contact Us</span></h1>
                <br>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="contact-question">
                                <p>Have a question?
                                </p>
                            </div>
                            <div class="contact-form" id="main-contact">
                                <form id="contact-form" name="contact-form" action="" method="POST">
                                    <div class="row">
                                        <!-- TO DO VALIDATION -->
                                        <div class="col-sm-12 col-md-12  mb-2">
                                            <input name="name" type="text" class="form-control center-block"
                                                placeholder="Name" id="contact-name" required>
                                        </div>
                                        <div class="col-sm-12 col-md-12  mb-2">
                                            <input name="email" type="email" class="form-control center-block"
                                                placeholder="Email" id="contact-email" required>
                                        </div>
                                        <div class="col-sm-12 col-md-12  mb-2">
                                            <textarea name="message" class="form-control center-block"
                                                placeholder="Message" rows="6" id="contact-message" required></textarea>
                                        </div>
                                        <div class="col-sm-12 col-md-12  mb-2">
                                            <input type="submit" class="btn btn-primary btn-sm" value="Submit">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="d-flex justify-content-center align-items-center">
                    <h6>Connect 365 - Copyright © 2019</h6>
                </footer>
            </div>

        </div>
    </div>

</body>

</html>

<script>
    $(document).ready(function () {
        $("#block-content").css("opacity", 1)
    })
    $(document).ready(function () {
        $("#landing-headers").animate({
            opacity: '1'
        }, "slow")
        $("#landing-button").animate({
            opacity: '1'
        }, "slow")
    })
</script>