{% extends "base.html" %}

{% block content %}

<div class="padding-top">
  <div class="d-flex justify-content-center">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="flash-message">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
  <div class="view-event d-flex justify-content-center">
    <a class="btn btn-primary" href="{{ url_for('createEvent') }}">Create Event</a>
  </div>

  <div class="bglight">
    <div class="row view-event-row">
      {% for event in events %}
      <div class="col-md-3 col-sm-6">
        <div class="event-card card border-secondary text-secondary mb-3" style="max-width: 22rem;">
          <div class="card-header">
            <font size=7>{{event}}</font>
          </div>
          <div class="card-body">
            <h5 class="card-title"><strong>
                <font size=5>Description:
              </strong> {{event.description}}</font>
            </h5>
            <p class="card-text">
              <strong>Date:</strong> {{event.date}} </br>
              <strong>From: </strong>{{event.startTime}} <strong>To:</strong> {{event.endTime}}
            </p>
            <div>
                <a class="btn btn-primary" href="{{url_for('deleteEvent')}}">Delete</a>
                <a class="btn btn-primary" href="{{url_for('editEvent', id=event.id)}}">Edit</a>
              </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}